html {
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

li > img {
  max-width: 25%;
  max-height: 25%;
}

.avatar {
  line-height: 0;
  height: 45px;
  width: 45px;
  margin: auto;
  margin: 10px 0px;
  display: block;
  text-align: center;
}

.search-input {
  width: 25%;
  max-width: 25%;
}

.icon1 {
  background-image: url("./patientzero.png");
  background-attachment: fixed;
}

.patientEntry:hover {
  transform: scale(1.05);
}
